<h2>Brew Tracker</h2>
<form #brewForm
  method="POST"
  action="https://script.google.com/macros/s/AKfycbw_b-gnzDL4kOU2D9iDPZ69XrzgfalJuemonQRmPaIZN7j65K4pN2RjDfEuV1hzlFKY5w/exec"
>
  <div class="coffee-card">
    <label for="sheetName">Sheet Name:</label>
    <select name="sheetName">
      <option value="Adam">Adam</option>
      <option value="Ben">Ben</option>
      <option value="Mitchell">Mitchell</option>
      <option value="Zach">Zach</option>
    </select>
    <label for="brand">Coffee Brand:</label>
    <input type="text" id="brand" name="brand" />
    <br />
    <label for="blend">Blend:</label>
    <input type="text" id="blend" name="blend" />
    <br />
    <label for="roastDate">Roast Date:</label>
    <input type="date" id="roastDate" name="roastDate" />
    <br />
    <label for="brewDate">Brew Date:</label>
    <input type="date" id="brewDate" name="brewDate" />
    <br />
    <label for="brewStyle">Brew Style:</label>
    <brew-type-picker inputName="brewStyle"></brew-type-picker>
    <br />
    <label for="coffeeDose">Coffee Weight (g):</label>
    <input type="number" min="0" step="0.1" id="coffeeDose" name="coffeeDose" />
    <br />
    <label for="bloomWater">Bloom Water (g):</label>
    <input type="number" min="0" step="0.1" id="bloomWater" name="bloomWater" />
    <br />
    <label for="bloomTime">Bloom Time (seconds):</label>
    <input type="number" min="0" id="bloomTime" name="bloomTime" />
    <br />
    <label for="brewWater">Brew Water (g):</label>
    <input type="number" min="0" step="0.1"  id="brewWater" name="brewWater" />
    <br />
    <label for="brewTime">Brew Time (seconds):</label>
    <input type="number" min="0" id="brewTime" name="brewTime" />
    <br />
    <label for="totalOutput">Total Output (g):</label>
    <input type="number" min="0" step="0.1"  id="totalOutput" name="totalOutput" />
    <br />
    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes"></textarea>
    <br />
  </div>
  <button class="coffee-btn" type="submit" (click)="doSubmit($event, brewForm)">Submit</button>
</form>
